<html>
<head>
	<link rel="stylesheet" type="text/css" href="index.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}"/>
	<style>
		table {
		  border-spacing: 0;
		  width: 100%;
		  border: 1px solid #ddd;
		}
		
		th, td {
		  text-align: left;
		  padding: 16px;
		}
		
		tr:nth-child(even) {
		  background-color: #f2f2f2
		}
	</style>
</head>

<body>
	<!-- <canvas id="myCanvas"></canvas> -->
		
	<script type="text/javascript" src="/static/script.js"></script>

	<header>
		<a href="/" class="logo">Course Finder</a>
	</header>

	<section class="banner"></section>
	<script type="text/javascript">
		window.addEventListener("scroll", function(){
			var header = document.querySelector("header");
			header.classList.toggle("sticky", window.scrollY > 0);
		})
	</script>
	<br>


	<form class="form-inline" method="POST" action="/search">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">Search by</span>
				<select name="search_type" class="selectpicker form-control">
					<option value="module">Module </option>
					<option value="subject">Subject/Department</option>
  					<option value="prof">Professor</option>
  					<option value="subj_prof">Subject & Professor</option>
  					<option value="requirement">General Education Requirements</option>
           		</select>
    		</div>
    	<button type="submit" class="btn btn-default">Go</button>
  		</div>
	</form>


</body>
</html>
